@using Anime.DAO
@model Anime.Models.Usuario
@{
}


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Otaku Library</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="~/Content2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content2/css/grayscale.min.css" rel="stylesheet">

</head>
<body id="page-top" class="projects-section bg-black">


    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">A Melhor Biblioteca</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#sobre">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#projeto">Projetos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contato">Contato</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" id="userDropdown" data-toggle="dropdown">
                            Login
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                @using (Html.BeginForm("Autentica", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
                                {
                                    <a class="dropdown-item">
                                        <h1> Faça seu Login </h1>
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        @Html.TextBoxFor(model => model.Login, new { @class = "form-control", @placeholder = "Login...", @name = "Login" })
                                    </a>
                                    <a class="dropdown-item">
                                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                        @Html.TextBoxFor(model => model.Senha, new { @class = "form-control", @placeholder = "Senha...", @name = "Senha", @type = "password" })
                                    </a>
                                    <a class="dropdown-item">
                                        <i class="fas fa-arrow-alt-circle-right fa-sm fa-fw mr-2 text-gray-400"></i>
                                        <input type="submit" value="Autenticar" />
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-question fa-sm fa-fw mr-2 text-gray-400" href="#"> Esqueceu sua senha?</i>
                                    </a>
                                }
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#registrar">Registre-se</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase" style="color:white">Otaku Library</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">A Biblioteca do seu dia-a-dia</h2>
                <a href="#registrar" class="btn btn-dark js-scroll-trigger">Venha fazer parte</a>
            </div>
        </div>
    </header>
    <!-- About Section -->
    <section id="sobre" class="about-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-white mb-4">Sobre</h2>
                    <p class="text-white-50">
                        A Otaku Library é uma plataforma que trabalha e separa suas informações de forma organizada e eficiênte, para que você possa ter a melhor experiência de gerenciamento dos seus animes. Sendo prático e inteligente ao mesmo tempo. Enjoy!
                    </p>
                </div>
            </div>
            <img src="~/Imagem/Intro.jpg" class="img-fluid" alt="">
        </div>
    </section>
    <!-- Projects Section -->
    <section id="projeto" class="projects-section bg-black">
        <div class="container">

            <!-- Featured Project Row -->
            <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                <div class="col-xl-8 col-lg-7">
                    <img class="img-fluid mb-3 mb-lg-0" src="~/Imagem/Intro.jpg" alt="">
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4 class="text-white">A maior biblioteca de animes do Sul do Brasil(Kappa)</h4>
                        <p class="mb-0 text-white-50">São mais de 8000 animes registrados.</p>
                        <p class="mb-0 text-white-50">6000 Exemplares</p>
                        <p class="mb-0 text-white-50">E animes classificados por suas respectivas temporadas.</p>
                    </div>
                </div>
            </div>
            <!-- Project One Row -->
            <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                <div class="col-lg-6">
                    <img class="img-fluid" src="~/Imagem/Intro2.jpg" alt="">

                </div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Equipe dedicada</h4>
                                <p class="mb-0 text-white-50">Equipe tecnica pronta para sanar quaisquer duvidas a respeito da biblioteca, ou problemas com relação ao site.</p>
                                <hr class="d-none d-lg-block mb-0 ml-0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project Two Row -->
            <div class="row justify-content-center no-gutters">
                <div class="col-lg-6">
                    <img class="img-fluid" src="~/Imagem/Intro3.jpg" alt="">
                </div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">Animes Avaliados</h4>
                                <p class="mb-0 text-white-50">Todos os animes de lançamentos passam por avaliação da nossa equipe, e com isso, nós fazemos a melhor recomendação para você.(Só tem anime brabo aqui)</p>
                                <hr class="d-none d-lg-block mb-0 mr-0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Signup Section -->
    <section id="registrar" class="signup-section">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto text-center">

                    <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>

                    @using (Html.BeginForm("Adiciona", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken();

                        <h2 class="text-white mb-5">Cadastre-se para começar sua experiência inesquecível!</h2>


                        <div id="Nome">
                            @Html.TextBoxFor(model => model.Nome, new { @class = "form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", @placeholder = "Digite seu nome...", @name = "usuario.Nome" })
                            @Html.ValidationMessageFor(model => model.Nome,
                         null, new { @class = "text-danger" })
                            <br>
                        </div>
                        <div id="Sobrenome">
                            @Html.TextBoxFor(model => model.Sobrenome, new { @class = "form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", @placeholder = "Digite seu sobrenome...", @name = "usuario.Sobrenome" })
                            @Html.ValidationMessageFor(model => model.Sobrenome,
                         null, new { @class = "text-danger" })
                            <br />
                        </div>
                        <div id="Nickname">
                            @Html.TextBoxFor(model => model.Nickname, new { @class = "form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", @placeholder = "Digite seu nickname...", @name = "usuario.Nickname" })
                            @Html.ValidationMessageFor(model => model.Nickname,
                         null, new { @class = "text-danger" })
                            <br />
                        </div>
                        <div id="Email">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", @placeholder = "Digite seu email...", @name = "usuario.Email" })
                            @Html.ValidationMessageFor(model => model.Email,
                         null, new { @class = "text-danger" })
                            <br />
                        </div>
                        <div id="Login">
                            @Html.TextBoxFor(model => model.Login, new { @class = "form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", @placeholder = "Digite seu login...", @name = "usuario.Login" })
                            @Html.ValidationMessageFor(model => model.Login,
                         null, new { @class = "text-danger" })
                            <br />
                        </div>
                        <div id="Senha">
                            @Html.TextBoxFor(model => model.Senha, new { @class = "form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", @placeholder = "Digite sua senha...", @name = "usuario.Senha", @Type = "Password" })
                            @Html.ValidationMessageFor(model => model.Senha,
                         null, new { @class = "text-danger" })
                            <br />
                        </div>
                        <div id="ConfirmarSenha">
                            @Html.TextBoxFor(model => model.ConfirmarSenha, new { @class = "form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", @placeholder = "Confirme sua senha...", @name = "usuario.Senha", @Type = "Password" })
                            @Html.ValidationMessageFor(model => model.ConfirmarSenha,
                         null, new { @class = "text-danger" })
                            <br />
                        </div>
                        <button type="submit" class="btn btn-dark mx-auto" value="Cadastrar">Começar</button>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section -->
    <section id="contato" class="contact-section bg-black">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Any Fucking Way</h4>
                            <hr class="my-4">
                            <div class="small text-black-50">Curitiba/PR</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-envelope text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Email dos Desenvolvedores</h4>
                            <hr class="my-4">
                            <div class="small text-black-50">
                                <a href="#">equipeBraba@up.edu.com</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-mobile-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Telefone</h4>
                            <hr class="my-4">
                            <div class="small text-black-50">(41) 4002-8922</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="justify-content-center">
                <a href="#" class="mx-2">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="mx-2">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="mx-2">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
        <div class="container">
            Copyright &copy; Otaku Library 2019
        </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="~/Content2/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/Content2/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/Content2/js/grayscale.min.js"></script>
    <script src="Scripts/jquery-3.3.1.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script>
        $('#btnLogin').click(function () {
            $.ajax({
                // Post username, password & the grant type to /token
                url: '/token',
                method: 'POST',
                contentType: 'application/json',
                data: {
                    username: $('#login').val(),
                    password: $('#senha').val(),
                    grant_type: 'password'
                },
                // When the request completes successfully, save the
                // access token in the browser session storage and
                // redirect the user to Data.html page. We do not have
                // this page yet. So please add it to the
                // EmployeeService project before running it
                success: function (response) {
                    sessionStorage.setItem("accessToken", response.access_token);
                    window.location.href = "Perfil.cshtml";
                },
                // Display errors if any in the Bootstrap alert <div>
                error: function (jqXHR) {
                    $('#divErrorText').text(jqXHR.responseText);
                    $('#divError').show('fade');
                }
            });
        });
    </script>
</body>
</html>
